<launch>
  <!-- Configure settings file. -->
  <arg name="knowrob_settings" default="$(find knowrob)/settings/default.pl" />
  <arg name="logs_folder" default="$(find knowrob_stocktaking)/refills_dump_2020-11-19_21-57-45_pp" />
  <env name="KNOWROB_SETTINGS" value="$(arg knowrob_settings)" />
  
  <include file="$(find rosprolog)/launch/rosprolog.launch">
    <arg name="initial_package" default="knowrob_k4r" />
    <arg name="initial_goal" default="remember('$(arg logs_folder)'), tf_plugin:tf_mng_remember('$(arg logs_folder)')" />
  </include>
</launch>
